In [1]:
import pandas as pd

In [2]:
pd.read_csv('zipcode_table.csv')

C:\Users\zebfr\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,66,67,68,70,71,74,75,78,79,82,83,86,87,90,91,94,95,96,98,99,102,103,106,107,110,111,114,115,118,119,120,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,146,147,170,171,172,174,175,178,179,182,183,186,187,190,191,194,195,196,198,199,202,203,206,207,208,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,274,275,276,277,278,279,280,282,283,284,285,286,287,288,290,291,294,295,296,298,299,302,303,304,306,307,310,311,312,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,374,375,378,379,382,383,384,386,387,388,390,391,394,395,398,399,400,402,403,406,407,410,411,412,414,415,418,419,422,423,426,427,430,431,434,435,438,439,440,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,602,603,606,607) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP02_0150PE,DP02_0150PM,DP02_0151E,DP02_0151M,DP02_0151PE,DP02_0151PM,DP02_0152E,DP02_0152M,DP02_0152PE,DP02_0152PM
0,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...
1,8600000US00601,ZCTA5 00601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8600000US00602,ZCTA5 00602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8600000US00603,ZCTA5 00603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8600000US00606,ZCTA5 00606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,8600000US99923,ZCTA5 99923,15,22,15,(X),0,9,0.0,60.1,...,15,(X),15,22,100.0,60.1,15,22,100.0,60.1
33117,8600000US99925,ZCTA5 99925,325,35,325,(X),202,31,62.2,6.2,...,325,(X),280,32,86.2,3.5,206,32,63.4,5.9
33118,8600000US99926,ZCTA5 99926,480,34,480,(X),363,40,75.6,5.9,...,480,(X),418,38,87.1,4.4,328,36,68.3,5.5
33119,8600000US99927,ZCTA5 99927,29,22,29,(X),0,9,0.0,43.2,...,29,(X),19,18,65.5,41.0,19,18,65.5,41.0
33120,8600000US99929,ZCTA5 99929,1074,78,1074,(X),650,63,60.5,5.5,...,1074,(X),888,79,82.7,4.5,770,73,71.7,5.3

In [ ]:
pd.read_csv('')

In [6]:
geo_id = pd.read_csv('geo_id.csv', low_memory=False)

In [10]:
US = geo_id[geo_id['Country Code'] == 'US']
US

,Criteria ID,Name,Canonical Name,Parent ID,Country Code,Target Type,Status
10598,1012873,Anchorage,"Anchorage,Anchorage,Alaska,United States",21132.0,US,City,Active
10599,1012874,Anderson,"Anderson,Alaska,United States",21132.0,US,City,Active
10600,1012875,Angoon,"Angoon,Alaska,United States",21132.0,US,City,Active
10601,1012876,Atqasuk,"Atqasuk,Alaska,United States",21132.0,US,City,Active
10602,1012877,Utqiagvik,"Utqiagvik,Alaska,United States",21132.0,US,City,Active
...,...,...,...,...,...,...,...
98185,9073538,Eddington,"Eddington,Pennsylvania,United States",21171.0,US,City,Active
102013,9077370,29486,"29486,South Carolina,United States",21173.0,US,Postal Code,Active
102026,9168160,Stokesdale,"Stokesdale,North Carolina,United States",21160.0,US,City,Active
102027,1013729,Desert Hot Springs,"Desert Hot Springs,Riverside,California,United...",21137.0,US,Municipality,Removal Planned
102028,1021155,Holly Springs,"Holly Springs,United States",2840.0,US,City,Removal Planned

In [11]:
city = US[US['Target Type'] == 'City']
city

,Criteria ID,Name,Canonical Name,Parent ID,Country Code,Target Type,Status
10598,1012873,Anchorage,"Anchorage,Anchorage,Alaska,United States",21132.0,US,City,Active
10599,1012874,Anderson,"Anderson,Alaska,United States",21132.0,US,City,Active
10600,1012875,Angoon,"Angoon,Alaska,United States",21132.0,US,City,Active
10601,1012876,Atqasuk,"Atqasuk,Alaska,United States",21132.0,US,City,Active
10602,1012877,Utqiagvik,"Utqiagvik,Alaska,United States",21132.0,US,City,Active
...,...,...,...,...,...,...,...
98179,9073532,North Canaan,"North Canaan,Connecticut,United States",21139.0,US,City,Active
98184,9073537,Cornwells Heights,"Cornwells Heights,Pennsylvania,United States",21171.0,US,City,Active
98185,9073538,Eddington,"Eddington,Pennsylvania,United States",21171.0,US,City,Active
102026,9168160,Stokesdale,"Stokesdale,North Carolina,United States",21160.0,US,City,Active
102028,1021155,Holly Springs,"Holly Springs,United States",2840.0,US,City,Removal Planned