In [1]:
# Import Sklearn Libraries
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Import other Libraries
import pandas as pd
import numpy as np

# Import Data
df = pd.read_csv('datasets/citydata_lon_lat_pop.csv')

In [2]:
df.head()

              city      lon      lat   pop
0  Russellville AL -87.7282  34.5056  9711
1          Vina AL -88.0602  34.3757   363
2    Providence AL -87.7761  32.3424   179
3         Grant AL -86.2492  34.5189   933
4      Daviston AL -85.6371  33.0557   186

In [35]:
# Split data
X = df.drop(columns = ['city','lon','lat']) # May need to also drop index values
y = df['city']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Fit and train model
classifier = KNeighborsClassifier(n_neighbors=5, algorithm = 'kd_tree')
classifier.fit(X_train, y_train)

# Test a city
gilbert = df[df['city'] == 'Gilbert AZ'].drop(columns = ['city','lon','lat'])

# Look at predictions
pred = classifier.kneighbors(gilbert)
predictions = pred[1]
for num in pred[1]:
    print(num)
    print(df.loc[num])

[11787  3185 10851 21594  7482]
                   city       lon      lat    pop
11787      Larchmont NY  -73.7529  40.9258   6092
3185         Waverly IL  -89.9528  39.5925   1286
10851         Sparks NV -119.7157  39.5729  98524
21594   Winter Beach FL  -80.4254  27.7120   2340
7482   Burkittsville MD  -77.6275  39.3923    140

In [4]:
# Gilbert's features
print('================== Gilbert ===================')
print(df[df['city'] == 'Gilbert AZ'].drop(columns = ['city']))

# Fremont's features
print('================== Fremont ===================')
print(df[df['city'] == 'Fremont CA'].drop(columns = ['city']))

================== Gilbert ===================
          lon      lat     pop
684 -111.7463  33.3103  237484
================== Fremont ===================
           lon      lat     pop
1623 -121.9852  37.5265  233083