In [1]:
import json
import numpy as np
import pandas as pd
import requests

In [11]:
dataset = 'dataset=global-summary-of-the-month'
datatypes = 'dataTypes=DP05,DP10,DSND,DSNW,DT00,DT32,DX32,DX70,DX90,SNOW,PRCP'
stations = 'stations=ASN00084027'
startdate = 'startDate=2018-01-01'
enddate = 'endDate=2019-12-31'

lat = 39.1239
lng = -94.5541

N_coord = lat + 1
S_coord = lat - 1
W_coord = lng - 1
E_coord = lng + 1

boundingbox = 'boundingBox=' + str(N_coord) + ',' + str(W_coord) + ',' + str(S_coord) + ',' + str(E_coord) 

url = ('https://www.ncei.noaa.gov/access/services/data/v1?' + dataset + '&' + datatypes + '&' + boundingbox + '&' +
       startdate + '&' + enddate + '&' + '&includeAttributes=true&format=json')
requested_url = requests.get(url)
x = requested_url.json()

x

{'errorCode': 400,
 'errorMessage': 'Bad Request',
 'errors': [{'field': 'stations',
   'message': 'A station is required.',
   'value': None}]}

In [71]:
dataset = 'dataset=global-summary-of-the-month'
datatypes = 'dataTypes=DP05,DP10,DSND,DSNW,DT00,DT32,DX32,DX70,DX90,SNOW,PRCP'
stations = 'stations=ASN00084027'
startdate = 'startDate=2018-01-01'
enddate = 'endDate=2019-12-31'

lat = 39.1239
lng = -94.5541

N_coord = lat + 1
S_coord = lat - 1
W_coord = lng - 1
E_coord = lng + 1

boundingbox = 'extent=' + str(S_coord) + ',' + str(W_coord) + ',' + str(N_coord) + ',' + str(E_coord)

token = 'HVVZlvqRvqKXInZGUELMPssOYPUmRtgk'

url_token = ('https://www.ncdc.noaa.gov/cdo-web/api/v2/' + 'token:' + token)

url = ('https://www.ncdc.noaa.gov/cdo-web/api/v2/' + dataset + '&' + datatypes)


# requests.post(url_token)

requested_url = requests.get(url)

x = requested_url.json()

x

{'status': '400', 'message': 'Token parameter is required.'}

In [147]:
lat = 39.1239
lng = -94.5541

N_coord = lat + 1
S_coord = lat - 1
W_coord = lng - 1
E_coord = lng + 1

boundingbox = 'extent=' + str(S_coord) + ',' + str(W_coord) + ',' + str(N_coord) + ',' + str(E_coord)

print(boundingbox)

extent=38.6239,-95.0541,39.6239,-94.0541

In [67]:
y = !curl -H "token:HVVZlvqRvqKXInZGUELMPssOYPUmRtgk" "https://www.ncdc.noaa.gov/cdo-web/api/v2/stations?extent=38.1239,-95.5541,40.1239,-93.5541"

In [75]:
y

['  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current',
 '                                 Dload  Upload   Total   Spent    Left  Speed',
 '',
 '  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0{"metadata":{"resultset":{"offset":1,"count":568,"limit":25}},"results":[{"elevation":288,"mindate":"1893-01-01","maxdate":"2015-11-01","latitude":39.5755,"name":"ATCHISON, KS US","datacoverage":0.9926,"id":"COOP:140405","elevationUnit":"METERS","longitude":-95.1108},{"elevation":297.2,"mindate":"2009-07-01","maxdate":"2015-11-01","latitude":39.5486,"name":"ATCHISON 1 S, KS US","datacoverage":0.9999,"id":"COOP:140408","elevationUnit":"METERS","longitude":-95.1182},{"elevation":310.9,"mindate":"1948-08-01","maxdate":"1982-02-17","latitude":38.76667,"name":"BALDWIN, KS US","datacoverage":1,"id":"COOP:140496","elevationUnit":"METERS","longitude":-95.2},{"elevation":264.9,"mindate":"1941-02-01","maxdate":"1959-12-01","latitude":39.15,"name":"BETHEL 1 NW, KS US","datacoverage":0.9385,"id":"COOP:140782","elevationUnit":"METERS","longitude":-94.78333},{"elevation":259.1,"mindate":"1938-02-01","maxdate":"2015-11-01","latitude":39.06361,"name":"BONNER SPRINGS, KS US","datacoverage":0.9968,"id":"COOP:140957","elevationUnit":"METERS","longitude":-94.896},{"elevation":289.6,"mindate":"1994-03-01","maxdate":"2015-11-01","latitude":38.1937,"name":"CENTERVILLE 4 SW, KS US","datacoverage":0.9999,"id":"COOP:141404","elevationUnit":"METERS","longitude":-95.0724},{"elevation":289.9,"mindate":"1948-08-01","maxdate":"1957-06-01","latitude":38.75,"name":"CENTROPOLIS 5 NE, KS US","datacoverage":1,"id":"COOP:141416","elevationUnit":"METERS","longitude":-95.28333},{"elevation":283.5,"mindate":"1971-01-01","maxdate":"1989-04-01","latitude":38.91667,"name":"CLINTON, KS US","datacoverage":0.0229,"id":"COOP:141608","elevationUnit":"METERS","longitude":-95.4},{"elevation":298.7,"mindate":"1977-04-01","maxdate":"2015-11-01","latitude":38.9407,"name":"CLINTON LAKE, KS US","datacoverage":0.9739,"id":"COOP:141612","elevationUnit":"METERS","longitude":-95.3396},{"elevation":256,"mindate":"2009-06-01","maxdate":"2015-11-01","latitude":38.9708,"name":"DE SOTO, KS US","datacoverage":1,"id":"COOP:142117","elevationUnit":"METERS","longitude":-94.9775},{"elevation":273.4,"mindate":"1959-07-01","maxdate":"2015-11-01","latitude":39.3437,"name":"EASTON, KS US","datacoverage":1,"id":"COOP:142329","elevationUnit":"METERS","longitude":-95.1178},{"elevation":292.6,"mindate":"1979-06-01","maxdate":"1988-04-01","latitude":39.1,"name":"EDWARDSVILLE 3 NNW, KS US","datacoverage":0.9999,"id":"COOP:142380","elevationUnit":"METERS","longitude":-94.83333},{"elevation":350.5,"mindate":"1960-05-01","maxdate":"2015-11-01","latitude":39.53,"name":"EFFINGHAM, KS US","datacoverage":0.976,"id":"COOP:142388","elevationUnit":"METERS","longitude":-95.3966},{"elevation":304.2,"mindate":"1931-01-01","maxdate":"2015-11-01","latitude":38.28,"name":"GARNETT 1 E, KS US","datacoverage":0.9932,"id":"COOP:143008","elevationUnit":"METERS","longitude":-95.2177},{"elevation":297.2,"mindate":"1948-08-01","maxdate":"2003-01-01","latitude":38.33056,"name":"HARRIS 3 ENE, KS US","datacoverage":0.2202,"id":"COOP:143441","elevationUnit":"METERS","longitude":-95.37833},{"elevation":323.4,"mindate":"1931-01-01","maxdate":"2015-11-01","latitude":39.8356,"name":"HIAWATHA 1 S, KS US","datacoverage":0.8381,"id":"COOP:143634","elevationUnit":"METERS","longitude":-95.532},{"elevation":292.9,"mindate":"1941-02-01","maxdate":"1980-06-01","latitude":39.85,"name":"HIGHLAND, KS US","datacoverage":0.924,"id":"COOP:143646","elevationUnit":"METERS","longitude":-95.26667},{"elevation":307.8,"mindate":"1985-02-01","maxdate":"2015-11-01","latitude":38.6645,"name":"HILLSDALE LAKE, KS US","datacoverage":0.9894,"id":"COOP:143686","elevationUnit":"METERS","longitude":-94.8901},{"elevation":314.6,"mindate":"1893-01-01","maxdate":"2015-11-01","latitude":39.6679,"name":"HORTON, KS US","datacoverage":0.9987,"id":"COOP:143810","elevationUnit":"METERS","longitude":-95.5199},{"elevation":338.9,"mindate":"1955-07-01","maxdate":"1961-06-01","latitude":39.68333,"name":"HORTON 2 NNE SOIL CONSERVATION SERVICE 5, KS US","datacoverage":0.9998,"id":"COOP:143815","elevationUnit":"METERS","longitude":-95.51667},{"elevation":235,"mindate":"1935-',
 '100  5048    0  5048    0     0   5048      0 --:--:-- --:--:-- --:--:--  8733',
 '09-01","maxdate":"1943-11-01","latitude":39.11667,"name":"KANSAS CITY FAIRFAX, MO US","datacoverage":0.9698,"id":"COOP:144196","elevationUnit":"METERS","longitude":-94.6},{"elevation":256.9,"mindate":"1931-01-01","maxdate":"2010-12-01","latitude":38.326,"name":"LA CYGNE, KS US","datacoverage":0.999,"id":"COOP:144421","elevationUnit":"METERS","longitude":-94.6956},{"elevation":265.2,"mindate":"2005-10-01","maxdate":"2015-03-01","latitude":38.4424,"name":"LANE, KS US","datacoverage":0.9125,"id":"COOP:144488","elevationUnit":"METERS","longitude":-95.0793},{"elevation":320,"mindate":"1894-09-01","maxdate":"2015-11-01","latitude":38.9583,"name":"LAWRENCE, KS US","datacoverage":0.9457,"id":"COOP:144559","elevationUnit":"METERS","longitude":-95.2513},{"elevation":253.6,"mindate":"2011-01-01","maxdate":"2015-11-01","latitude":39.0078,"name":"LAWRENCE ASOS, KS US","datacoverage":1,"id":"COOP:144560","elevationUnit":"METERS","longitude":-95.2116}]}']

In [146]:
# res = json.loads(y[2])
# res

In [78]:
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/'

In [79]:
headers = {'token': 'HVVZlvqRvqKXInZGUELMPssOYPUmRtgk',
           'url': url}

In [84]:
response = requests.request("GET", url, data="stations?extent=38.1239,-95.5541,40.1239,-93.5541", headers=headers)

In [85]:
print(response)

<Response [200]>

In [130]:
get = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOM&stationid=COOP:010008&units=standard&startdate=2010-05-01&enddate=2010-05-31',
                   headers={'token':'HVVZlvqRvqKXInZGUELMPssOYPUmRtgk'})
x = get.json()

x
# data = x['results']

{}

In [145]:
get2 = requests.get('https://www.ncei.noaa.gov/access/services/data/v1?dataset=global-summary-of-the-year&dataTypes=DP01,DP05,DP10,DSND,DSNW,DT00,DT32,DX32,DX70,DX90,SNOW,PRCP&stations=ASN00084027&startDate=1952-01-01&endDate=1970-12-31&includeAttributes=true&format=json')

x2 = get2.json()

x2

[{'DATE': '1952',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1372.2',
  'DP10': '89',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '176'},
 {'DATE': '1953',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '862.2',
  'DP10': '72',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '143'},
 {'DATE': '1954',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '896.4',
  'DP10': '63',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '114'},
 {'DATE': '1955',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '875.7',
  'DP10': '83',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '139'},
 {'DATE': '1956',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1331.8',
  'DP10': '102',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '186'},
 {'DATE': '1960',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1147.9'},
 {'DATE': '1961',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1218.4'},
 {'DATE': '1962',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '872.6'},
 {'DATE': '1963',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1173.3'},
 {'DATE': '1964',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '888.4'},
 {'DATE': '1966',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1252.9'},
 {'DATE': '1967',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '776.2',
  'DP10': '57',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '127'},
 {'DATE': '1968',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '752.8'},
 {'DATE': '1969',
  'STATION': 'ASN00084027',
  'DP01_ATTRIBUTES': 'a',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1032.5',
  'DP10': '76',
  'DP10_ATTRIBUTES': 'a',
  'DP01': '136'},
 {'DATE': '1970',
  'STATION': 'ASN00084027',
  'PRCP_ATTRIBUTES': ',a',
  'PRCP': '1193.2'}]

In [143]:
# station_ids = pd.read_csv('https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt', header = None)

In [109]:
df_x = pd.DataFrame(data)

df_x

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,0.9926,288.0,METERS,COOP:140405,39.57550,-95.11080,2015-11-01,1893-01-01,"ATCHISON, KS US"
1,0.9999,297.2,METERS,COOP:140408,39.54860,-95.11820,2015-11-01,2009-07-01,"ATCHISON 1 S, KS US"
2,1.0000,310.9,METERS,COOP:140496,38.76667,-95.20000,1982-02-17,1948-08-01,"BALDWIN, KS US"
3,0.9385,264.9,METERS,COOP:140782,39.15000,-94.78333,1959-12-01,1941-02-01,"BETHEL 1 NW, KS US"
4,0.9968,259.1,METERS,COOP:140957,39.06361,-94.89600,2015-11-01,1938-02-01,"BONNER SPRINGS, KS US"
5,0.9999,289.6,METERS,COOP:141404,38.19370,-95.07240,2015-11-01,1994-03-01,"CENTERVILLE 4 SW, KS US"
6,1.0000,289.9,METERS,COOP:141416,38.75000,-95.28333,1957-06-01,1948-08-01,"CENTROPOLIS 5 NE, KS US"
7,0.0229,283.5,METERS,COOP:141608,38.91667,-95.40000,1989-04-01,1971-01-01,"CLINTON, KS US"
8,0.9739,298.7,METERS,COOP:141612,38.94070,-95.33960,2015-11-01,1977-04-01,"CLINTON LAKE, KS US"
9,1.0000,256.0,METERS,COOP:142117,38.97080,-94.97750,2015-11-01,2009-06-01,"DE SOTO, KS US"
10,1.0000,273.4,METERS,COOP:142329,39.34370,-95.11780,2015-11-01,1959-07-01,"EASTON, KS US"
11,0.9999,292.6,METERS,COOP:142380,39.10000,-94.83333,1988-04-01,1979-06-01,"EDWARDSVILLE 3 NNW, KS US"
12,0.9760,350.5,METERS,COOP:142388,39.53000,-95.39660,2015-11-01,1960-05-01,"EFFINGHAM, KS US"
13,0.9932,304.2,METERS,COOP:143008,38.28000,-95.21770,2015-11-01,1931-01-01,"GARNETT 1 E, KS US"
14,0.2202,297.2,METERS,COOP:143441,38.33056,-95.37833,2003-01-01,1948-08-01,"HARRIS 3 ENE, KS US"
15,0.8381,323.4,METERS,COOP:143634,39.83560,-95.53200,2015-11-01,1931-01-01,"HIAWATHA 1 S, KS US"
16,0.9240,292.9,METERS,COOP:143646,39.85000,-95.26667,1980-06-01,1941-02-01,"HIGHLAND, KS US"
17,0.9894,307.8,METERS,COOP:143686,38.66450,-94.89010,2015-11-01,1985-02-01,"HILLSDALE LAKE, KS US"
18,0.9987,314.6,METERS,COOP:143810,39.66790,-95.51990,2015-11-01,1893-01-01,"HORTON, KS US"
19,0.9998,338.9,METERS,COOP:143815,39.68333,-95.51667,1961-06-01,1955-07-01,"HORTON 2 NNE SOIL CONSERVATION SERVICE 5, KS US"
20,0.9698,235.0,METERS,COOP:144196,39.11667,-94.60000,1943-11-01,1935-09-01,"KANSAS CITY FAIRFAX, MO US"
21,0.9990,256.9,METERS,COOP:144421,38.32600,-94.69560,2010-12-01,1931-01-01,"LA CYGNE, KS US"
22,0.9125,265.2,METERS,COOP:144488,38.44240,-95.07930,2015-03-01,2005-10-01,"LANE, KS US"
23,0.9457,320.0,METERS,COOP:144559,38.95830,-95.25130,2015-11-01,1894-09-01,"LAWRENCE, KS US"
24,1.0000,253.6,METERS,COOP:144560,39.00780,-95.21160,2015-11-01,2011-01-01,"LAWRENCE ASOS, KS US"

In [107]:
y = df_x['id']
y = list(y)

In [108]:
y

['COOP:140405',
 'COOP:140408',
 'COOP:140496',
 'COOP:140782',
 'COOP:140957',
 'COOP:141404',
 'COOP:141416',
 'COOP:141608',
 'COOP:141612',
 'COOP:142117',
 'COOP:142329',
 'COOP:142380',
 'COOP:142388',
 'COOP:143008',
 'COOP:143441',
 'COOP:143634',
 'COOP:143646',
 'COOP:143686',
 'COOP:143810',
 'COOP:143815',
 'COOP:144196',
 'COOP:144421',
 'COOP:144488',
 'COOP:144559',
 'COOP:144560']

In [100]:
len(x)

# x has 12 entries, one for each month.

2

In [ ]:
lat = 39.1239
lng = -94.5541

N_coord = lat + 1
S_coord = lat - 1
W_coord = lng - 1
E_coord = lng + 1