# Zillow Dataset Cleaning (housing data)

In [1]:
import pandas as pd
city_3bedroom = pd.read_csv('City_3bedroom.csv', encoding = "ISO-8859-1")
city_singlefamilyresidence = pd.read_csv('City_SingleFamilyResidence.csv', encoding = "ISO-8859-1")

In [2]:
city_3bedroom.head()
city_singlefamilyresidence.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,2008-01,2008-02,2008-03,2008-04,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,6181,New York,NY,New York-Newark-Jersey City,Queens County,1,530116.0,529348.0,527513.000000,524074.000000,...,669818.000000,670728.333333,670440.000000,670189.000000,669416.333333,669156.333333,667625.666667,665436.333333,663607.333333,662154.000000
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,710611.666667,709987.333333,710809.666667,712764.666667,715905.333333,720401.666667,726834.333333,735091.000000,741676.666667,746142.666667
2,39051,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,135666.0,135380.5,135155.666667,134537.666667,...,188173.333333,188622.333333,188612.333333,188752.333333,189311.666667,189894.000000,190622.000000,191001.000000,191884.000000,192379.333333
3,17426,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,195672.000000,...,220514.666667,221271.333333,222573.000000,223337.666667,223349.333333,222856.000000,222221.666667,221619.666667,221424.000000,221448.666667
4,6915,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,133892.0,133797.0,133692.666667,133541.666667,...,179430.666667,180072.333333,180740.000000,181110.333333,181695.666667,182286.666667,182969.000000,183953.333333,184646.666667,185294.666667

In [12]:
# Used in 'merge_names' function to rearrange the columns ('State' & 'RegionName' are omitted)
cols  = ['RegionID',
         'full_name',
         'CountyName',
         'Metro',
         'SizeRank',
         '2008-01',
         '2008-02',
         '2008-03',
         '2008-04',
         '2008-05',
         '2008-06',
         '2008-07',
         '2008-08',
         '2008-09',
         '2008-10',
         '2008-11',
         '2008-12',
         '2009-01',
         '2009-02',
         '2009-03',
         '2009-04',
         '2009-05',
         '2009-06',
         '2009-07',
         '2009-08',
         '2009-09',
         '2009-10',
         '2009-11',
         '2009-12',
         '2010-01',
         '2010-02',
         '2010-03',
         '2010-04',
         '2010-05',
         '2010-06',
         '2010-07',
         '2010-08',
         '2010-09',
         '2010-10',
         '2010-11',
         '2010-12',
         '2011-01',
         '2011-02',
         '2011-03',
         '2011-04',
         '2011-05',
         '2011-06',
         '2011-07',
         '2011-08',
         '2011-09',
         '2011-10',
         '2011-11',
         '2011-12',
         '2012-01',
         '2012-02',
         '2012-03',
         '2012-04',
         '2012-05',
         '2012-06',
         '2012-07',
         '2012-08',
         '2012-09',
         '2012-10',
         '2012-11',
         '2012-12',
         '2013-01',
         '2013-02',
         '2013-03',
         '2013-04',
         '2013-05',
         '2013-06',
         '2013-07',
         '2013-08',
         '2013-09',
         '2013-10',
         '2013-11',
         '2013-12',
         '2014-01',
         '2014-02',
         '2014-03',
         '2014-04',
         '2014-05',
         '2014-06',
         '2014-07',
         '2014-08',
         '2014-09',
         '2014-10',
         '2014-11',
         '2014-12',
         '2015-01',
         '2015-02',
         '2015-03',
         '2015-04',
         '2015-05',
         '2015-06',
         '2015-07',
         '2015-08',
         '2015-09',
         '2015-10',
         '2015-11',
         '2015-12',
         '2016-01',
         '2016-02',
         '2016-03',
         '2016-04',
         '2016-05',
         '2016-06',
         '2016-07',
         '2016-08',
         '2016-09',
         '2016-10',
         '2016-11',
         '2016-12',
         '2017-01',
         '2017-02',
         '2017-03',
         '2017-04',
         '2017-05',
         '2017-06',
         '2017-07',
         '2017-08',
         '2017-09',
         '2017-10',
         '2017-11',
         '2017-12',
         '2018-01',
         '2018-02',
         '2018-03',
         '2018-04',
         '2018-05',
         '2018-06',
         '2018-07',
         '2018-08',
         '2018-09',
         '2018-10',
         '2018-11',
         '2018-12',
         '2019-01',
         '2019-02',
         '2019-03',
         '2019-04',
         '2019-05',
         '2019-06',
         '2019-07',
         '2019-08',
         '2019-09',
         '2019-10',
         '2019-11']

In [13]:
def merge_names(X):
    
    full_name = []
    for x in range(0,len(X.RegionName)):
        full_name.append(X.RegionName[x] + ' ' + X.State[x])
    
    X.columns
    
    #insert full_name column
    X['full_name'] = full_name
    
    # rearrange columns (dropped state and county name)
    X = X[cols]
    
    return X

In [14]:
city_3bedroom = merge_names(city_3bedroom)
city_3bedroom.head()

,RegionID,full_name,CountyName,Metro,SizeRank,2008-01,2008-02,2008-03,2008-04,2008-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,6181,New York NY,Queens County,New York-Newark-Jersey City,1,531528.0,530995.5,529241.333333,526023.333333,521262.000000,...,666603.000000,666840.000000,666353.333333,665724.000000,664686.666667,663910.000000,662196.666667,660026.666667,658581.333333,657381.000000
1,12447,Los Angeles CA,Los Angeles County,Los Angeles-Long Beach-Anaheim,2,NaN,NaN,NaN,NaN,NaN,...,673170.333333,672187.333333,672751.333333,674247.333333,677295.666667,674857.666667,674256.333333,674942.000000,680733.666667,684614.666667
2,39051,Houston TX,Harris County,Houston-The Woodlands-Sugar Land,3,122688.0,122438.0,122225.666667,121635.666667,120824.666667,...,169555.666667,170030.333333,170101.333333,170234.333333,170786.000000,171343.333333,172104.666667,172547.666667,173417.666667,173954.333333
3,17426,Chicago IL,Cook County,Chicago-Naperville-Elgin,4,NaN,NaN,NaN,224218.000000,226012.000000,...,230819.000000,231599.000000,232870.333333,233604.333333,233436.666667,232641.666667,231607.333333,230647.666667,230221.666667,230291.000000
4,6915,San Antonio TX,Bexar County,San Antonio-New Braunfels,5,123274.0,123175.0,123077.666667,122939.333333,122775.000000,...,168671.333333,169303.333333,169953.000000,170333.666667,170927.666667,171508.666667,172184.000000,173138.333333,173808.666667,174415.666667

## Prepare data for merge

In [16]:
census_df = pd.read_csv('all_census_formated.csv')

C:\Users\Gaming PC\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,15,19,23,27,31,35,39,43,47,51,55,59,61,65,69,75,79,83,87,91,95,103,107,111,115,119,127,131,135,139,143,153,157,161,165,169,215,219,223,227,231,239,243,247,251,255,259,263,267,271,279,287,295,303,311,319,323,327,331,335,339,343,345,351,355,359,363,367,371,379,383,407,411,419,423,427,431,435,439,447,451,455,459,463,467,471,475,479,483,487,489,495,499,503,507,511,515,519,523,527,531,535,539,543,547,551,555,559,563,567,571,575,579,583,587,591,595,599,607,611,621,625,629,633,637,641,649,657,661,665,673,681,689,693,697,701,705,709,711,712,713,721,725,729,733,737,745,749,753,757,761,765,769,773,777,781,785,789,793,801,805,809,813,821,825,829,833,837,841,845,849,853,857,859,863,864,865,869,870,871,872,873,877,879,880,881,885,887,888,889,893,901,909,917,921,925,929,933,937,941,945,949,953,954,958,959,960,961,962,963,964,965,970,974,975,976,977,979,983,987,997,1001,1005,1009,1017,1033,1037,1041,1045,1053,1057,1061,1065,1073,1077,1081,1085,1089,1093,1101,1105,1113,1125,1129,1133,1137,1141,1145,1149,1153,1157,1161,1171,1175,1177,1181,1191,1195,1199,1203,1207,1211,1215,1219,1223,1231,1235,1239,1243,1247,1251,1255,1259,1263,1267,1275,1279,1283,1287,1291,1295,1299,1303,1307,1308,1309,1319,1323,1327,1331,1335,1339,1347,1351,1353,1357,1367,1371,1375,1379,1383,1387,1395,1399,1403,1407,1415,1419,1423,1427,1431,1435,1439,1443,1447,1455,1459,1463,1471,1475,1479,1487,1491,1495,1499,1503,1507,1511,1515,1516,1517,1527,1531,1539,1543,1547,1551,1555,1559,1563,1565,1575,1579,1583,1587,1591,1595,1597,1607,1611,1615,1619,1623,1635,1639,1643,1647,1651,1655,1659,1671,1675,1679,1683,1687,1691,1695,1711,1715,1719,1723,1727,1731,1739,1745,1749,1751,1757,1761,1765,1769,1773,1777,1781,1785,1789,1793,1797,1801,1805,1807,1811,1813,1817,1819,1821,1825,1829,1831,1833,1835,1839,1841,1843,1845,1847,1851,1855,1857,1859,1861,1863,1867,1873,1877,1881,1885,1889,1893,1897,1901,1905,1909,1913,1917,1921,1925,1929,1933,1937,1941,1945,1949,1953,1957,1961,1965,1969,1973,1977,1981,1985,1987,1993,1997,2001,2005,2009,2013,2015,2019,2021,2025,2029,2033,2037,2039,2041,2045,2049,2053,2057,2061,2065,2069,2073,2077,2089,2093) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
census_df.head()

,Unnamed: 0,level_0,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,...,full_name,pop2010,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018
0,0,0,1600000US0167056,"Russellville city, Alabama",3208,282,3208,NaN,2195,213,...,Russellville AL,9598,9701,9791,9814,9836,9824,9804,9715,9711
1,1,1,1600000US0178984,"Vina town, Alabama",146,37,146,NaN,101,30,...,Vina AL,376,393,370,379,358,335,300,327,363
2,2,2,1600000US0162688,"Providence town, Alabama",101,29,101,NaN,62,25,...,Providence AL,218,231,180,240,238,268,230,221,179
3,3,3,1600000US0131096,"Grant town, Alabama",367,58,367,NaN,273,50,...,Grant AL,883,900,1093,851,823,956,961,1017,933
4,4,4,1600000US0119816,"Daviston town, Alabama",93,29,93,NaN,77,22,...,Daviston AL,274,259,252,272,287,271,232,238,186

In [17]:
merged = pd.merge(city_3bedroom, census_df, on = 'full_name', how = 'left')

In [18]:
len(merged.columns)

2254

In [19]:
len(merged['NAME'])

21749

In [20]:
merged.head()

,RegionID,full_name,CountyName,Metro,SizeRank,2008-01,2008-02,2008-03,2008-04,2008-05,...,st,pop2010,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018
0,6181,New York NY,Queens County,New York-Newark-Jersey City,1,531528.0,530995.5,529241.333333,526023.333333,521262.000000,...,NY,8078471.0,8128980.0,8199221.0,8268999.0,8354889.0,8426743.0,8461961.0,8560072.0,8443713.0
1,12447,Los Angeles CA,Los Angeles County,Los Angeles-Long Beach-Anaheim,2,NaN,NaN,NaN,NaN,NaN,...,CA,3772486.0,3782544.0,3804503.0,3827261.0,3862210.0,3900794.0,3918872.0,3949776.0,3959657.0
2,39051,Houston TX,Harris County,Houston-The Woodlands-Sugar Land,3,122688.0,122438.0,122225.666667,121635.666667,120824.666667,...,TX,2068026.0,2089090.0,2107449.0,2134707.0,2167988.0,2217706.0,2240582.0,2267336.0,2295982.0
3,17426,Chicago IL,Cook County,Chicago-Naperville-Elgin,4,NaN,NaN,NaN,224218.000000,226012.000000,...,IL,2703466.0,2700741.0,2702471.0,2706101.0,2712608.0,2717534.0,2714017.0,2722586.0,2718555.0
4,6915,San Antonio TX,Bexar County,San Antonio-New Braunfels,5,123274.0,123175.0,123077.666667,122939.333333,122775.000000,...,TX,1290196.0,1313155.0,1335287.0,1359033.0,1385438.0,1413881.0,1439358.0,1461623.0,1486521.0

In [22]:
len(census_df['full_name'])

28920