# LABS 23 CITRICS NEAREST NEIGHBORS CITY DATA REVERSE USER FLOW COMPARISON MODEL

## Install & Import Python [Packages](https://pypi.org/) and [Modules](https://docs.python.org/3/py-modindex.html)

In [0]:
!pip install dnspython # Ensures the "dnspython" module that is needed to use mongodb+srv:// URIs is properly installed
!pip install pymongo[tls,srv] # Enables the use of mongodb+srv:// URIs
import joblib
import numpy as np
import pandas as pd
import pandas.util.testing as tm # Needed due to warning about pandas.util.testing facing deprecation
import pickle
import pymongo
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 2.9MB/s
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0
Requirement already satisfied: pymongo[srv,tls] in /usr/local/lib/python3.6/dist-packages (3.10.1)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv,tls]) (1.16.0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

## **Utilize the [help()]((https://docs.python.org/3/library/functions.html#help)) and ? functions if assistance is needed**

In [0]:
# help() #Example pandas

In [0]:
# ?table

## Access the data stored in the [MongoDB](https://account.mongodb.com/account/login) Database
![I'M IN](https://media.giphy.com/media/Azwmdv1NTSe9W/giphy.gif)

In [0]:
# Make a Connection with MongoClient
client = pymongo.MongoClient('mongodb+srv://steve122192:P1kdLg4ODBDrFUH7@steves-cluster-blrmh.mongodb.net/test?retryWrites=true&w=majority')
# Get our Database
db = client.citydata
#Get our Collection
table = db.alldata

## Create the Citrics Dataframe

In [0]:
# Run a loop through the Mongo database to find the specified fields and return cities
d = [] 
# NaNs start to appear around Range size 465. The range maximum is the database total of 28,925
for i in range(0,28925):
 doc = table.find_one({'_id':i})
 # Print out the range as the loop runs
 print("Mongo Database Loop: City ID #", '\n', i, '\n', "-"*85) 
 d.append(
 {
  'ID': doc['_id'],                
  'City & State': doc['census_full_name'], # Included to make reading data easier
  '2018 Total Population': doc['Total Population'],
  'Mean Monthly Household Income': doc['Mean Household Income'],

  'Mean Monthly Housing Cost': (((doc['Median Selected Monthly Owner Costs with Mortgage']) +
                                (doc['Median Selected Monthly Owner Costs without Mortgage']) +
                                (doc['Median Rent']))/3),

  'Average January Temperature': doc['weather']['tavg']['TAVG-AVG-1'],
  'Average February Temperature': doc['weather']['tavg']['TAVG-AVG-2'],
  'Average March Temperature': doc['weather']['tavg']['TAVG-AVG-3'],
  'Average April Temperature': doc['weather']['tavg']['TAVG-AVG-4'],
  'Average May Temperature': doc['weather']['tavg']['TAVG-AVG-5'],
  'Average June Temperature': doc['weather']['tavg']['TAVG-AVG-6'],
  'Average July Temperature': doc['weather']['tavg']['TAVG-AVG-7'],
  'Average August Temperature': doc['weather']['tavg']['TAVG-AVG-8'],
  'Average September Temperature': doc['weather']['tavg']['TAVG-AVG-9'],
  'Average October Temperature': doc['weather']['tavg']['TAVG-AVG-10'],
  'Average November Temperature': doc['weather']['tavg']['TAVG-AVG-11'],
  'Average December Temperature': doc['weather']['tavg']['TAVG-AVG-12']
 })
df = pd.DataFrame(d)
print("df.shape:", '\n', df.shape, '\n', "-"*85)
df.describe()

Streaming output truncated to the last 5000 lines.
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27260
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27261
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27262
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27263
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27264
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27265
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27266
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27267
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27268
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27269
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27270
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27271
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27272
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27273
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27274
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27275
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27276
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27277
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27278
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27279
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27280
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27281
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27282
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27283
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27284
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27285
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27286
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27287
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27288
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27289
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27290
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27291
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27292
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27293
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27294
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27295
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27296
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27297
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27298
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27299
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27300
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27301
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27302
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27303
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27304
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27305
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27306
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27307
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27308
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27309
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27310
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27311
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27312
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27313
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27314
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27315
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27316
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27317
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27318
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27319
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27320
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27321
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27322
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27323
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27324
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27325
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27326
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27327
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27328
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27329
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27330
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27331
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27332
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27333
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27334
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27335
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27336
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27337
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27338
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27339
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27340
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27341
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27342
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27343
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27344
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27345
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27346
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27347
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27348
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27349
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27350
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27351
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27352
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27353
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27354
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27355
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27356
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27357
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27358
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27359
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27360
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27361
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27362
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27363
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27364
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27365
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27366
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27367
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27368
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27369
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27370
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27371
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27372
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27373
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27374
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27375
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27376
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27377
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27378
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27379
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27380
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27381
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27382
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27383
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27384
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27385
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27386
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27387
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27388
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27389
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27390
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27391
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27392
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27393
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27394
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27395
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27396
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27397
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27398
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27399
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27400
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27401
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27402
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27403
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27404
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27405
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27406
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27407
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27408
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27409
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27410
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27411
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27412
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27413
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27414
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27415
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27416
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27417
 -------------------------------------------------------------------------------------
Mongo Database Loop: City ID #
 27418

                 ID  ...  Average December Temperature
count  28925.000000  ...                  28842.000000
mean   14462.000000  ...                     36.938813
std     8350.072604  ...                     11.967531
min        0.000000  ...                    -10.225000
25%     7231.000000  ...                     29.250000
50%    14462.000000  ...                     35.600000
75%    21693.000000  ...                     43.925000
max    28924.000000  ...                     73.750000

[8 rows x 16 columns]

### **NaNnies**

In [0]:
# To avoid data leakage, DO NOT replace NaNs until after Train/Test Split
# Subsequently, to ensure that all cities get trained, DO NOT do Train/Test Split
# We can use an Imputer to replace NaNs if needed
df.isnull().sum()

ID                                0
City & State                      0
2018 Total Population             0
Mean Monthly Household Income     0
Mean Monthly Housing Cost         0
Average January Temperature      69
Average February Temperature     69
Average March Temperature        69
Average April Temperature        69
Average May Temperature          65
Average June Temperature         69
Average July Temperature         73
Average August Temperature       83
Average September Temperature    79
Average October Temperature      83
Average November Temperature     83
Average December Temperature     83
dtype: int64

## Save df as 'citrics_RUF_df.csv'

In [0]:
# Save a csv so that the database loop process does not have to be rerun in the future.
# In Google Colab, file is saved in the folder icon on the lefthand side
df.to_csv('citrics_RUF_df.csv', index = False)

In [0]:
df = pd.read_csv('citrics_RUF_df.csv')
print("df.shape:", '\n', df.shape, '\n', "-"*85)
df

## Feature Engineering

### **"[City Population Size](https://en.wikipedia.org/wiki/Settlement_hierarchy#Example_of_a_settlement_hierarchy)"** Column

In [0]:
df['City Population Size'] = pd.cut(df['2018 Total Population'],
                             bins= [-1, 75000, 400000, 700000, 9000000],
                             right = True,
                             labels = ['Town', 'Small City', 'Medium City', 'Large City'],
                             # Town: 0 - 75,000
                             # Small City: 75,001 - 400,000
                             # Medium City: 400,001 - 700,000
                             # Large City: 700,001 - 9,000,000
                             precision=0)
df['City Population Size'].value_counts()

Town           28439
Small City       439
Medium City       29
Large City        18
Name: City Population Size, dtype: int64

### **"Average Monthly Temperature"** Column

In [0]:
df['Average Monthly Temperature'] = (df['Average January Temperature'] +
                                    df['Average February Temperature'] +
                                    df['Average March Temperature'] +
                                    df['Average April Temperature'] +
                                    df['Average May Temperature'] +
                                    df['Average June Temperature'] +
                                    df['Average July Temperature'] +
                                    df['Average August Temperature'] +
                                    df['Average September Temperature'] +
                                    df['Average October Temperature'] +
                                    df['Average November Temperature'] +
                                    df['Average December Temperature'])/12

# Due to the need for Ordinal Encoding, use df.replace() instead of df.dropna() to replace NaN values with the median temperature
df['Average Monthly Temperature'] = df['Average Monthly Temperature'].replace(np.nan, df['Average Monthly Temperature'].median())

### **"City Temperature"** Column

In [0]:
df['City Temperature'] = pd.cut(df['Average Monthly Temperature'],
                                bins = [-1, 49, 69, 80] ,
                                right = True,
                                labels = ['Cold', 'Temperate', 'Hot'], 
                                # Cold: 0°F - 49°F
                                # Temperate: 50°F - 69°F
                                # Hot: 70°F - 80°F
                                precision = 0)
df['City Temperature'].value_counts()

Temperate    19452
Cold          7064
Hot           2409
Name: City Temperature, dtype: int64

### **"[Monthly Household Income](https://money.usnews.com/money/personal-finance/family-finance/articles/where-do-i-fall-in-the-american-economic-class-system)"** Column

In [0]:
df['Monthly Household Income'] = pd.cut(df['Mean Monthly Household Income'], 
                                        bins= [-1, 31000, 49999, 99999, 349999, 723000], 
                                        right = True, 
                                        labels = ['Low', 'Lower-Middle', 'Middle', 'Upper-Middle', 'High'], 
                                        # Low: $0 - $30,999
                                        # Lower-Middle: $31,000 - $49,999
                                        # Middle: $50,000 - $99,999
                                        # Upper-Middle: $100,000 - $349,999
                                        # High: $350,000 - $723,000
                                        precision=0)
df['Monthly Household Income'].value_counts()

Middle          16479
Lower-Middle     7588
Upper-Middle     3184
Low              1633
High               41
Name: Monthly Household Income, dtype: int64

### **"Cost of Housing"** Column

In [0]:
df['Cost of Housing'] = pd.cut(df['Mean Monthly Housing Cost'], 
                               bins = [-1, 599, 1199, 1799, 2399, 3000], 
                               right = True, 
                               labels = ['Low', 'Lower-Middle', 'Middle', 'Upper-Middle', 'High'], 
                               # Low: $0 - $599
                               # Lower-Middle: $600 - $1,199
                               # Middle: $1,200 - $1,799
                               # Upper-Middle: $1,800 - $2,399
                               # High: $2,400 - $3000
                               precision=0)
df['Cost of Housing'].value_counts()

Lower-Middle    16335
Low              9198
Middle           2550
Upper-Middle      670
High              172
Name: Cost of Housing, dtype: int64

### **"The Metrics"** Column

In [0]:
# Feature Engineer The Metrics Column
df['Metrics'] = df[['City Population Size',
                    'City Temperature', 
                    'Monthly Household Income', 
                    'Cost of Housing']].agg(','.join, axis= 1)

## Create df_feat and save as 'citrics_RUF_feat.csv'

In [0]:
df_feat = df

In [0]:
# Instead of dropping unneeded columns, save everything to a CSV for future students to use.
df_feat.to_csv('citrics_RUF_feat.csv', index = False)

In [0]:
df_feat = pd.read_csv('citrics_RUF_feat.csv')

### **NaNnies 2**

In [0]:
# To avoid data leakage, DO NOT replace NaNs until after Train/Test Split
# To ensure all cities get trained, DO NOT do Train/Test Split
# We can use an Imputer to replace NaNs if needed
df.isnull().sum()

ID                                0
City & State                      0
2018 Total Population             0
Mean Monthly Household Income     0
Mean Monthly Housing Cost         0
Average January Temperature      69
Average February Temperature     69
Average March Temperature        69
Average April Temperature        69
Average May Temperature          65
Average June Temperature         69
Average July Temperature         73
Average August Temperature       83
Average September Temperature    79
Average October Temperature      83
Average November Temperature     83
Average December Temperature     83
City Population Size              0
Average Monthly Temperature       0
City Temperature                  0
Monthly Household Income          0
Cost of Housing                   0
Metrics                           0
dtype: int64

## Build & Run the Unsupervised Nearest Neighbors Model

![Neighbors](https://media.giphy.com/media/xUPJPcRKkxOXSgBlo4/giphy.gif)

### Create df_nn_citrics for the NN Model

In [0]:
df_nn_citrics = df_feat

In [0]:
print("df_nn_citrics.shape:", '\n', df_nn_citrics.shape, '\n', "-"*85)
df_nn_citrics

df_nn_citrics.shape:
 (28925, 23)
 -------------------------------------------------------------------------------------

          ID  ...                                    Metrics
0          0  ...         Town,Temperate,Middle,Lower-Middle
1          1  ...            Town,Temperate,Lower-Middle,Low
2          2  ...         Town,Temperate,Middle,Lower-Middle
3          3  ...         Town,Temperate,Middle,Lower-Middle
4          4  ...         Town,Temperate,Middle,Lower-Middle
...      ...  ...                                        ...
28920  28920  ...        Small City,Cold,Upper-Middle,Middle
28921  28921  ...   Small City,Temperate,Middle,Lower-Middle
28922  28922  ...   Small City,Temperate,Middle,Lower-Middle
28923  28923  ...   Small City,Temperate,Middle,Lower-Middle
28924  28924  ...  Medium City,Temperate,Middle,Lower-Middle

[28925 rows x 23 columns]

### Create the NN Citrics Model

In [0]:
vect = CountVectorizer()
vect.fit(df_nn_citrics.Metrics)
dtm = vect.transform(df_nn_citrics.Metrics)
dtm = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())

tfidf = TfidfVectorizer(stop_words = 'english')

dtm = tfidf.fit_transform(df_nn_citrics['Metrics'])
                       
dtm = pd.DataFrame(dtm.todense(), columns = tfidf.get_feature_names())

print("dtm.shape:", '\n', dtm.shape, '\n', "-"*85)         
dtm.head()

dtm.shape:
 (28925, 13)
 -------------------------------------------------------------------------------------

   city  cold  high  hot  large  ...    middle  small  temperate      town  upper
0   0.0   0.0   0.0  0.0    0.0  ...  0.694155    0.0   0.458740  0.334002    0.0
1   0.0   0.0   0.0  0.0    0.0  ...  0.326211    0.0   0.431161  0.313922    0.0
2   0.0   0.0   0.0  0.0    0.0  ...  0.694155    0.0   0.458740  0.334002    0.0
3   0.0   0.0   0.0  0.0    0.0  ...  0.694155    0.0   0.458740  0.334002    0.0
4   0.0   0.0   0.0  0.0    0.0  ...  0.694155    0.0   0.458740  0.334002    0.0

[5 rows x 13 columns]

In [0]:
citrics_RUF_nn_model = NearestNeighbors(n_neighbors=10, radius = 2.0, algorithm='kd_tree', 
                      metric='minkowski', p = 2, n_jobs=-1)
citrics_RUF_nn_model.fit(dtm)

count = []

for row in df_nn_citrics['Metrics'][:1]: # Change number to change the amount of searches
    sample = [row] # Set sample =[row] is default, will search through multiple sample combinations
    new = tfidf.transform(sample)
    neighbors = citrics_RUF_nn_model.kneighbors(new.todense())
    neighbors = neighbors[1]
    count.append(neighbors)

    for i in neighbors:
        print('This is the sample:', sample)
        print(df_nn_citrics['City & State'].iloc[i])
        print('\n')

This is the sample: ['Town,Temperate,Middle,Lower-Middle']
423             Moody city, Alabama
434           Ashford town, Alabama
429      Center Point city, Alabama
417      Guntersville city, Alabama
428          Westover town, Alabama
424    Smiths Station city, Alabama
898            Cabot city, Arkansas
426         Woodstock town, Alabama
427     Valley Grande city, Alabama
416        Moundville town, Alabama
Name: City & State, dtype: object

### Run df_nn_citrics.iloc[] with the _id to get the results

In [0]:
df_nn_citrics.iloc[423]

ID                                                              423
City & State                                    Moody city, Alabama
2018 Total Population                                         12752
Mean Monthly Household Income                                 69839
Mean Monthly Housing Cost                                   760.667
Average January Temperature                                  45.075
Average February Temperature                                   54.8
Average March Temperature                                    57.025
Average April Temperature                                    64.625
Average May Temperature                                      73.175
Average June Temperature                                      78.95
Average July Temperature                                     82.325
Average August Temperature                                    81.55
Average September Temperature                                 79.45
Average October Temperature                                    68.2
Average November Temperature                                   53.7
Average December Temperature                                   48.7
City Population Size                                           Town
Average Monthly Temperature                                 65.6313
City Temperature                                          Temperate
Monthly Household Income                                     Middle
Cost of Housing                                        Lower-Middle
Metrics                          Town,Temperate,Middle,Lower-Middle
Name: 423, dtype: object

In [0]:
df_nn_citrics.iloc[428]

ID                                                              428
City & State                                 Westover town, Alabama
2018 Total Population                                          1603
Mean Monthly Household Income                                 71201
Mean Monthly Housing Cost                                       782
Average January Temperature                                  45.075
Average February Temperature                                   54.8
Average March Temperature                                    57.025
Average April Temperature                                    64.625
Average May Temperature                                      73.175
Average June Temperature                                      78.95
Average July Temperature                                     82.325
Average August Temperature                                    81.55
Average September Temperature                                 79.45
Average October Temperature                                    68.2
Average November Temperature                                   53.7
Average December Temperature                                   48.7
City Population Size                                           Town
Average Monthly Temperature                                 65.6313
City Temperature                                          Temperate
Monthly Household Income                                     Middle
Cost of Housing                                        Lower-Middle
Metrics                          Town,Temperate,Middle,Lower-Middle
Name: 428, dtype: object

In [0]:
df_nn_citrics.iloc[898]

ID                                                              898
City & State                                   Cabot city, Arkansas
2018 Total Population                                         26176
Mean Monthly Household Income                                 66915
Mean Monthly Housing Cost                                   771.333
Average January Temperature                                    39.1
Average February Temperature                                 46.275
Average March Temperature                                    52.325
Average April Temperature                                      59.4
Average May Temperature                                       69.75
Average June Temperature                                       77.8
Average July Temperature                                       81.4
Average August Temperature                                   79.175
Average September Temperature                                  75.3
Average October Temperature                                    62.5
Average November Temperature                                   48.8
Average December Temperature                                 42.775
City Population Size                                           Town
Average Monthly Temperature                                 61.2167
City Temperature                                          Temperate
Monthly Household Income                                     Middle
Cost of Housing                                        Lower-Middle
Metrics                          Town,Temperate,Middle,Lower-Middle
Name: 898, dtype: object

In [0]:
df_nn_citrics.iloc[416]

ID                                                              416
City & State                               Moundville town, Alabama
2018 Total Population                                          2774
Mean Monthly Household Income                                 60731
Mean Monthly Housing Cost                                   774.667
Average January Temperature                                  45.075
Average February Temperature                                   54.8
Average March Temperature                                    57.025
Average April Temperature                                    64.625
Average May Temperature                                      73.175
Average June Temperature                                      78.95
Average July Temperature                                     82.325
Average August Temperature                                    81.55
Average September Temperature                                 79.45
Average October Temperature                                    68.2
Average November Temperature                                   53.7
Average December Temperature                                   48.7
City Population Size                                           Town
Average Monthly Temperature                                 65.6313
City Temperature                                          Temperate
Monthly Household Income                                     Middle
Cost of Housing                                        Lower-Middle
Metrics                          Town,Temperate,Middle,Lower-Middle
Name: 416, dtype: object

## Save the Nearest Neighbor Model to Files

For any further testing or implementation outside of this notebook we need to save the KNN Model to a new file format.

Our flask application uses a Joblib file, but for posterity's sake, we have also saved CSV, TSV, and Pickle files.

### Save df_nn_citrics to 'citrics_nn_model.csv' & 'citrics_nn_model.tsv'

In [0]:
# Save df_nn_citrics to a csv file
df_nn_citrics.to_csv('citrics_RUF_nn_model.csv', index = False)

In [0]:
# Save df_nn_citrics to a tsv file
df_nn_citrics.to_csv('citrics_RUF_nn_model.tsv', index = False)

In [0]:
# Read 'citrics_nn_model.csv'
df_nn_citrics = pd.read_csv('citrics_RUF_nn_model.csv')

In [0]:
df_nn_citrics

          ID  ...                                    Metrics
0          0  ...         Town,Temperate,Middle,Lower-Middle
1          1  ...            Town,Temperate,Lower-Middle,Low
2          2  ...         Town,Temperate,Middle,Lower-Middle
3          3  ...         Town,Temperate,Middle,Lower-Middle
4          4  ...         Town,Temperate,Middle,Lower-Middle
...      ...  ...                                        ...
28920  28920  ...        Small City,Cold,Upper-Middle,Middle
28921  28921  ...   Small City,Temperate,Middle,Lower-Middle
28922  28922  ...   Small City,Temperate,Middle,Lower-Middle
28923  28923  ...   Small City,Temperate,Middle,Lower-Middle
28924  28924  ...  Medium City,Temperate,Middle,Lower-Middle

[28925 rows x 23 columns]

### Pickle the NN Model
![Pickle](https://media.giphy.com/media/S72mzkutVK4x4rf88f/giphy.gif)

In [0]:
# Choose the Pickle File Name
Pkl_Filename = "citrics_RUF_nn_model.pkl"

In [0]:
# Write the Model to a file named after the Pickle File
with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(citrics_RUF_nn_model, file)

In [0]:
# Load the Model back from file
with open(Pkl_Filename, 'rb') as file:  
    Pickled_LR_Model = pickle.load(file)

Pickled_LR_Model

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=-1, n_neighbors=10, p=2,
                 radius=2.0)

In [0]:
# Run the Pickled Model
Pickled_LR_Model.kneighbors(new.todense())

(array([[1.46868701e-16, 1.46868701e-16, 1.46868701e-16, 1.46868701e-16,
         1.46868701e-16, 1.46868701e-16, 1.46868701e-16, 1.46868701e-16,
         1.46868701e-16, 1.46868701e-16]]),
 array([[423, 434, 429, 417, 428, 424, 898, 426, 427, 416]]))

### Joblib the NN Model

In [0]:
# Save the model as a joblib in a file 
joblib.dump(citrics_RUF_nn_model, 'citrics_RUF_nn_model.joblib')

['citrics_RUF_nn_model.joblib']

In [0]:
# Load the model from the Joblib file 
nn_from_joblib = joblib.load('citrics_RUF_nn_model.joblib')

In [0]:
# Check the Joblib File
nn_from_joblib

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=-1, n_neighbors=10, p=2,
                 radius=2.0)

In [0]:
# Use the loaded model to make predictions 
nn_from_joblib.kneighbors(new.todense())

(array([[1.46868701e-16, 1.46868701e-16, 1.46868701e-16, 1.46868701e-16,
         1.46868701e-16, 1.46868701e-16, 1.46868701e-16, 1.46868701e-16,
         1.46868701e-16, 1.46868701e-16]]),
 array([[423, 434, 429, 417, 428, 424, 898, 426, 427, 416]]))

#M00D
![Mood](https://media.giphy.com/media/ml3A3OWN3sT1S/giphy.gif)