In [ ]:
all_states2 = pd.read_csv('./data/table2_all.csv', low_memory=False)
type(all_states2)
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
# 3/23

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/df_extra_clean.csv', low_memory=False)

In [4]:
df

,Unnamed: 0,DP02_0001E,DP02_0002E,DP02_0002PE,DP02_0004PE,DP02_0017E,DP02_0024E,DP02_0025PE,DP02_0026PE,DP02_0027PE,...,GEO_ID,NAME,State,City,Place_Type_city,Place_Type_town,Place_Type_borough,Place_Type_CPD,State_Abbrev,City_ST
0,2,993,614,61.8,41.8,2405,1148,42.9,40.6,3.7,...,1600000US0100124,"Abbeville city, Alabama",Alabama,Abbeville,True,False,False,False,AL,Abbeville AL
1,3,1472,1061,72.1,47.7,4346,1573,37.8,48.9,0.7,...,1600000US0100460,"Adamsville city, Alabama",Alabama,Adamsville,True,False,False,False,AL,Adamsville AL
2,4,308,180,58.4,43.5,641,282,23.4,53.9,1.1,...,1600000US0100484,"Addison town, Alabama",Alabama,Addison,False,True,False,False,AL,Addison AL
3,5,117,60,51.3,34.2,290,120,50.0,40.0,0.0,...,1600000US0100676,"Akron town, Alabama",Alabama,Akron,False,True,False,False,AL,Akron AL
4,6,11227,8579,76.4,63.6,32583,12697,28.6,61.0,1.6,...,1600000US0100820,"Alabaster city, Alabama",Alabama,Alabaster,True,False,False,False,AL,Alabaster AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18294,29309,81,45,55.6,55.6,160,88,18.2,61.4,0.0,...,1600000US5681300,"Wamsutter town, Wyoming",Wyoming,Wamsutter,False,True,False,False,WY,Wamsutter WY
18295,29313,1662,1053,63.4,50.5,3509,1436,25.7,58.7,0.0,...,1600000US5683040,"Wheatland town, Wyoming",Wyoming,Wheatland,False,True,False,False,WY,Wheatland WY
18296,29317,2183,1385,63.4,48.4,5136,2091,31.1,52.6,1.0,...,1600000US5684925,"Worland city, Wyoming",Wyoming,Worland,True,False,False,False,WY,Worland WY
18297,29318,668,429,64.2,53.9,1660,719,22.9,52.3,3.8,...,1600000US5685015,"Wright town, Wyoming",Wyoming,Wright,False,True,False,False,WY,Wright WY
18298,29319,51,28,54.9,51.0,120,61,36.1,45.9,0.0,...,1600000US5686665,"Yoder town, Wyoming",Wyoming,Yoder,False,True,False,False,WY,Yoder WY