In [10]:
# Import Sklearn Libraries
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split


# Import other Libraries
import pandas as pd


# Import Data
# df = pd.read_csv('datasets/no_missing_cens.csv') 
df_population = pd.read_csv('datasets/df_population.csv')
df_ethnicity = pd.read_csv('datasets/df_ethnicity.csv')
df_commute = pd.read_csv('datasets/df_commute.csv')

In [13]:
# Split data
X = df_commute.drop(columns = ['city','Unnamed: 0']) # May need to also drop index values
y = df_commute['city']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Fit and train model
classifier = KNeighborsClassifier(n_neighbors=5, algorithm = 'kd_tree')
classifier.fit(X_train, y_train)

[13360  7206   547  7954  9981]
       Unnamed: 0              city  drives_alone  carpools  public_transport  \
13360       13360         Dupont OH          85.8       6.0               1.5
7206         7206          Boyce LA          81.2      10.0               0.0
547           547       Grayling AK           9.3       0.0               0.0
7954         7954  Columbiaville MI          80.4      13.7               0.0
9981         9981           Linn MO          80.8      15.6               0.0

       walks  works_at_home  other  mean_travel_time
13360    3.7            2.2    0.7              24.8
7206     2.6            1.3    4.9              26.8
547     74.4            0.0   16.3               3.6
7954     3.4            2.5    0.0              33.3
9981     1.1            1.7    0.8              22.0

In [ ]:
# Test a city
gilbert = df_commute[df_commute['city'] == 'Chandler AZ'].drop(columns = ['city','Unnamed: 0'])

# Look at predictions
pred = classifier.kneighbors(gilbert)
predictions = pred[1]
for num in pred[1]:
    print(num)
    print(df_commute.loc[num])

# Pull Data

In [3]:
# imports
import requests 
import json
import pandas as pd

In [4]:
# Code for progress bar 
import sys

def progress(count, total, status=''):
    bar_len = 60
    filled_len = int(round(bar_len * count / float(total)))

    percents = round(100.0 * count / float(total), 1)
    bar = '=' * filled_len + '-' * (bar_len - filled_len)

    sys.stdout.write('[%s] %s%s ...%s\r' % (bar, percents, '%', status))
    sys.stdout.flush()

In [6]:
# Add lists to dataframe
df_commute = pd.DataFrame()
df_commute['city'] = city
df_commute['drives_alone'] = drives_alone
df_commute['carpools'] = carpools
df_commute['public_transport'] = public_transport
df_commute['walks'] = walks
df_commute['works_at_home'] = works_at_home
df_commute['other'] = other
df_commute['mean_travel_time'] = mean_travel_time

In [7]:
len(df_commute.city)

10451

In [9]:
df_commute.to_csv('commute_df_add.csv')

In [ ]:
# Saving to plk file with pickle
import pickle
model_file_name = 'MODELNAMECHANGE.plk'
model_pkl = open(model_file_name, 'wb')
pickle.dump(pipe, model_pkl)
model_pkl.close()

In [13]:
df.head()

,ID,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,...,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,has_loc,lat,lng
0,0,1600000US0167056,"Russellville city, Alabama",3208,282,3208,NaN,2195,213,68.4,...,9791,9814,9836,9824,9804,9715,9711,True,34.5056,-87.7282
1,1,1600000US0178984,"Vina town, Alabama",146,37,146,NaN,101,30,69.2,...,370,379,358,335,300,327,363,True,34.3757,-88.0602
2,2,1600000US0162688,"Providence town, Alabama",101,29,101,NaN,62,25,61.4,...,180,240,238,268,230,221,179,True,32.3424,-87.7761
3,3,1600000US0131096,"Grant town, Alabama",367,58,367,NaN,273,50,74.4,...,1093,851,823,956,961,1017,933,True,34.5189,-86.2492
4,4,1600000US0119816,"Daviston town, Alabama",93,29,93,NaN,77,22,82.8,...,252,272,287,271,232,238,186,True,33.0557,-85.6371