In [5]:
# Import Sklearn Libraries
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Import other Libraries
import pandas as pd
import numpy as np

# Import Data
# df_lon_lat = pd.read_csv('datasets/citydata_lon_lat_pop.csv')
df = pd.read_csv('datasets/df_ethnicity.csv')

In [6]:
df.head()

,Unnamed: 0,white,hispanic_latino,african_american,american_indian,asian,pacific_islander,other_race,two_or_more_races,city
0,0,48.3,40.8,9.4,0.0,1.0,0.0,0.0,0.4,Russellville AL
1,1,95.1,2.8,0.0,0.0,2.1,0.0,0.0,0.0,Vina AL
2,2,88.7,0.0,10.9,0.0,0.0,0.0,0.0,0.5,Providence AL
3,3,95.6,1.4,0.2,0.2,0.0,0.0,0.0,2.7,Grant AL
4,4,88.2,7.6,3.8,0.0,0.0,0.0,0.0,0.4,Daviston AL

In [15]:
# Split data
X = df.drop(columns = ['city','Unnamed: 0']) # May need to also drop index values
y = df['city']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Fit and train model
classifier = KNeighborsClassifier(n_neighbors=5, algorithm = 'kd_tree')
classifier.fit(X_train, y_train)

# Test a city
gilbert = df[df['city'] == 'Gilbert AZ'].drop(columns = ['city','Unnamed: 0'])

# Look at predictions
pred = classifier.kneighbors(gilbert)
predictions = pred[1]
for num in pred[1]:
    print(num)
    print(df.loc[num])

[16662  9107  1681  9299 21335]
       Unnamed: 0  white  hispanic_latino  african_american  american_indian  \
16662       16662   76.4             22.4               0.0              0.0
9107         9107   64.0              1.1              35.0              0.0
1681         1681   33.8             59.9               1.3              0.4
9299         9299   93.4              1.2               4.5              0.5
21335       21335  100.0              0.0               0.0              0.0

       asian  pacific_islander  other_race  two_or_more_races  \
16662    0.1               0.0         0.0                1.0
9107     0.0               0.0         0.0                0.0
1681     3.6               0.0         0.0                0.9
9299     0.2               0.0         0.0                0.3
21335    0.0               0.0         0.0                0.0

                     city
16662          Graford TX
9107        Mendenhall MS
1681   Federal Heights CO
9299            Potosi MO
21335       Bark Ranch CO

In [ ]:
# Make different models for each user preference:
# 1.) Population
# 2.) Education
# 3.) Ethnicity / Culture
# 4.) Housing Prices
# 5.) ...